.moodSelectorContainer {
  text-align: center;
  margin-bottom: 20px;
}

.schemeSelector {
  margin-bottom: 15px;
}

.moodSelect {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.moodSelector {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.moodButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.moodButton:hover {
  opacity: 0.8;
}